// COLORS
$primary: rgb(48, 49, 48);
$primary-light: rgb(170, 179, 156);
$primary-med-light: rgb(79, 82, 75);
$secondary: rgb(249, 250, 246);
$secondary-dark: rgb(245, 245, 245);
$accent: rgb(167, 159, 99);

// BREAKPOINT
$tablet: 1000px;